*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    font-family: 'Mulish', sans-serif;
    background-color: red;
}

.big-one{
    background-color: #fff;
    padding:10px 0px;
    text-align: center;
}

.big-one h1{
    color: rgb(131,58,180);
}

.big-two{
    text-align: center;
    margin-top: 350px;
}

.text{
    background-color: black;
    color: white;
    width: 450px;
    padding: 0 10px;    
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
}

.big-two button{
    background: none;
    border: 2px black solid;
    border-radius: 5px;
    padding: 7px 15px;
    margin-top: 20px;
}